/* Main content */
.articleContent {
	font-size: 1.25em;
	width: 50%;
	margin: auto;
	text-align: left;
	margin-bottom: 1em;
}

.articleContent h1 {
	font-size: 1.75em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.articleContent h2 {
	margin-top: 1em;
	margin-bottom: 0em;
	font-size: 1.4em;
}

.articleContent h2 a {
	color: blue;
}

.articleContent h3 {
	font-size: 1.2em;
	font-style: italic;
	color: orange;
	margin-bottom: 1em;
}

.articleContent h4 {
	font-size: 1.2em;
	color: rgb(192, 158, 24);
	margin-bottom: 0em;
	font-style: italic;
}

.articleContent p {
	margin-bottom: 1em;
}

.articleContent a {
	color: blue;
}

.articleContent li {
	list-style-type: circle;
	list-style-position: inside;
	font-weight: bold;
}
